.map {
  width: 20px;
  position: center;
  height: 500px;
  align-content: relative;
  padding-top: 3rem;
  padding-right: 50rem;
  padding-left: 0rem;

}


.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}






.header {
  text-align: left;
  color: aliceblue;
  padding-top: 30px;
  padding-right: 900px;

}

/* .App {
  text-align: center;
} */

 nav {
  display: flex;
  justify-content: space-around;
  align-items: right;
  font-family: 'Roboto', sans-serif;
  min-height: 10vh;
  background: #570303;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 30px;
  font-size: larger;
  overflow: hidden;
  background-color: #570303;
}

li {
  float: left;
  color: aliceblue;

}

li a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:#f7f7f7;
  text-decoration: none;
  }

ul {
  /* text-decoration: none; */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
/* ul {
  list-style-type: none;
  margin-top: 30px;
  padding-top: 10px;
  margin-left: 800px;
}
li a {

  display: inline;
  width: 60px;
}

.active {
  background-color: #4CAF50;
  color: white;
} */

/* .nav-links {
  color:#29c7ac;
  list-style: none;
  width: 70%;
  justify-content: space-around;
  align-items: right;
  /* list-style: -webkit-radial-gradient(); */
  /* color: aliceblue;
} */ 

/* #lawfirm {
  text-decoration-color: rgb(216, 127, 11);
} */


