/* .map {
  width: 1000px;
  position: relative;
  height: 500px;
  align-content: center;
}
.header {
  text-align: center;
} */

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #570303;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
